{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "16 to 19 EFA"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020
            
             
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
        {
      heading: {
        text: "Adult Skills"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
         
        '
      },
      content: {
        html:
        '
          <div class="govuk-body fc-body-list">
            <div class="flex-mob space-between fc-body-list-item">
              <strong>Funding type:</strong> 
              Matrix
            </div>

        
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
              <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
              <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
              <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div> 
        '
      }
    },
            {
      heading: {
        text: "Advanced Learner Loan"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020
            
      
             
        </span>
        
        '
      },
      content: {
        html:
        '
        <div class="govuk-body fc-body-list">
            <div class="flex-mob space-between fc-body-list-item">
              <strong>Funding source:</strong> 
              Matrix
            </div>

        
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
             <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
            <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
          <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div>
        '
      }
    },
                {
      heading: {
        text: "Other"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020
            
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>'
      }
    },
                {
      heading: {
        text: "Community Learning"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2018
            
             
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong> </p>
        <p> <strong> From:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>'
      }
    },
                {
      heading: {
        text: "European Social Fund"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020
            
            
        </span>
        
        '
      },
      content: {
        html:
        '
        <div class="govuk-body fc-body-list">
            <div class="flex-mob space-between fc-body-list-item">
              <strong>Category:</strong> 
              Matrix
            </div>

        
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
             <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
            <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
          <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div>
        
        '
      }
    },
                {
      heading: {
        text: "OLASS"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020
            
             
             
        </span>
        
        '
      },
      content: {
        html:
        '
        <div class="govuk-body fc-body-list">
            <div class="flex-mob space-between fc-body-list-item">
              <strong>Category:</strong> 
              Matrix
            </div>

        
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
             <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
            <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
          <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div>
        '
      }
    }
                
  ]
}) }}

