
{% extends "layout-aims.html" %}

{% block pageTitle %}
Certificate in Engineering - Overview - Find a learning aim
{% endblock %}

{% block content %}

<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="all-results">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Certificate in Engineering
      </li>
      
    </ol>
  </div> -->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Certificate in Engineering
          </h1>
        </div>
 
            <div class="govuk-grid-column-one-third academic-year-wrapper">
              <div class="govuk-form-group flex-col">
                <label class="govuk-label" for="sort">
                  Academic year
                </label>
                <select class="govuk-select" id="sort" name="sort">
                  <option value="published" selected>2019 to 2020</option>
                  <option value="updated">2018 to 2019</option>
                  <option value="views">2017 to 2018</option>
                  <option value="comments">2016 to 2017</option>
                </select>
                <br>
                <a href="#" id="applyAcademicYear" class="govuk-button" data-module="govuk-button">
                  Apply
                </a>
              </div>
           
          
          </div> 
        
  
        
      </div>
      
      <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-one-quarter">
            {% include "./left-nav.html" %}
        </div>
        <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-l">Key dates</h2>
              <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Operational start date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    01 July 2013
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Operational end date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    01 July 2024
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Operational end date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    01 July 2029
                  </dd>
                </div>
                
               
                <!-- <div class="govuk-summary-list__row">
                  <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://register.ofqual.gov.uk/Search?category=Qualifications&query=6014838X" target="blank">View more information on OFQUAL</a>
                </div>
                <br>
                <div class="govuk-summary-list__row">
                  <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://section96.education.gov.uk/Qualification/60109117" target="blank">View more information on this qualifications approved funding status</a>
                </div> -->
              </dl>
        </div>
      </div>
    
{% endblock %}


