
{% extends "layout-pathway.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
      
    <h1 class="govuk-heading-xl">Improving Operational Performance</h1>

  </div>
</div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "./left-nav-funding.html" %}
        </div>
         <div class="govuk-grid-column-two-thirds"> 
              <h2 class="govuk-heading-l ">Sector subject area</h2>
              
              <table id="high-level-info" class="govuk-table ">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Tier one</th>
                      <td class="govuk-table__cell">08 - Leisure, Travel and Tourism</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Tier two</th>
                      <td class="govuk-table__cell">08.1 - Sport, Leisure and Recreation</td>
                    </tr>
                    
                  </tbody>
                </table>
              

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
