
{% extends "layout-pathway.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Automation and Controls Engineering Technician</h1>
      <table id="high-level-info" class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Code</th>
            <td class="govuk-table__cell">474</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sector</th>
            <td class="govuk-table__cell">71 - Engineering and Manufacturing</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Effective from</th>
            <td class="govuk-table__cell">03/07/2019</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Effective to</th>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Last date for new starts</th>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Level</th>
            <td class="govuk-table__cell">4</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sector subject area</th>
            <td class="govuk-table__cell">4.00 - Engineering and Manufacturing Technologies</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sector subject area Tier 2</th>
            <td class="govuk-table__cell">4.10 - Engineering</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Integrated degree standard</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other body approval required</th>
            <td class="govuk-table__cell">N</td>
          </tr>
        </tbody>
      </table>
  </div> 
</div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% include "./left-nav-standards.html" %}
        </div>
         <div class="govuk-grid-column-two-thirds"> 
              
              <h2 class="govuk-heading-l">Related learning aims</h2>
              <ul class="govuk-list custom-spacing">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="qualification-3.html">Non regulated provision</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> Z0001940 
                    </li>
                  <li>
                    <strong>Awarding body:</strong> Generic 
                    </li>
                  <li>
                    <strong>Level:</strong> 4
                  </li>
                  <li>
                      <strong>Effective from:</strong> 03 July 2019
                  </li>
                  <li>
                    <strong>Effective to:</strong> 31 December 2600
                  </li>
                  <li>
                    <strong>Component type:</strong> -2 - Not applicable
                  </li>
                </ul>
      
                
        </div>
  
        
      </div>
    
{% endblock %}
