
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <caption class="govuk-table__caption">Category codes table
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Category code</th>
                <th scope="col" class="govuk-table__header">Parent code</th>
                <th scope="col" class="govuk-table__header">Category name</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">1</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">SFA Work Preparation</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2</th>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">Work Preparation-SFA Traineeships</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">3</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">All Class Code Categories</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">4</th>
                <td class="govuk-table__cell">31</td>
                <td class="govuk-table__cell">Work Placement-SFA Funded</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">5</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Unassigned</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">6</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Tech Levels 2017</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">7</th>
                <td class="govuk-table__cell">6</td>
                <td class="govuk-table__cell">Tech Levels 2017 - 2 Year Loan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">8</th>
                <td class="govuk-table__cell">6</td>
                <td class="govuk-table__cell">Tech Levels 2017 - 3 Year Loan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">9</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Early Years Educators 15/16</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">10</th>
                <td class="govuk-table__cell">9</td>
                <td class="govuk-table__cell">Early Years Educators 15/16 - 2 Year Loan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">11</th>
                <td class="govuk-table__cell">9</td>
                <td class="govuk-table__cell">Early Years Educators 15/16 - 3 Year Loan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">12</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Loans length (not Tech Levels 2017/EYE)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">13</th>
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">Loans Length - 2 Year (not Tech Lvl 2017/EYE)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">14</th>
                <td class="govuk-table__cell">12</td>
                <td class="govuk-table__cell">Loans Length - 3 Year (not Tech Lvl 2017/EYE)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">15</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Unassigned</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">16</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Unassigned</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">17</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Local Enterprise Partnership Initiatives</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">18</th>
                <td class="govuk-table__cell">17</td>
                <td class="govuk-table__cell">LEP-Solent LEP 14/15 Pilot</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">19</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Trades Union Congress</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">20</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Standalone and Licence To Practise</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">21</th>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">Standalone</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">22</th>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">Licence To Practise - Security</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">23</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category A: Non Regulated Provision (Formula Funded)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">24</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category B: Non Regulated English, Maths, and ESOL Provision (Formula Funded)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">25</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category C: NQF Units of Adult Basic Skills Certificates (Formula Funded)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">26</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category D: Innovation Code</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">27</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category E: Non Regulated Provision (not Community Learning or Formula Funded)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">28</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category F: Non Regulated Provision(Community Learning)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">29</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category G: Non Regulated English, Maths and ESOL Provision (not Formula Funded)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">30</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category H: Units of NQF Qualifications</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">31</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category I: Work Experience / Placement</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">32</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category J: Supported Internship</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">33</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category K: Programme Aim</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">34</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category L: ESF Co-financed</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">35</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category M: Conversion Codes between Higher National Qualifications</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">36</th>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Class Code Category O: Education Assessments</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">37</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Legal Entitlement-Level 2</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">38</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Only for Legal Entitlement at Level 3</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">39</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Legal Entitlement-English and Maths</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">40</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Local Flexibility</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">41</th>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">Aims specific to Combined Authorities and Greater London Authority</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
{% endblock %}
