
{% extends "layout-cc.html" %}

{% block pageTitle %}
  Common components
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
          
          
          <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-27">Common components</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Code</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Level</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">10</th>
                  <td class="govuk-table__cell">Functional Skills Mathematics</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">11</th>
                  <td class="govuk-table__cell">Functional Skills English</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">20</th>
                  <td class="govuk-table__cell">British Sign Language</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">30</th>
                  <td class="govuk-table__cell">GCSE Mathematics</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">31</th>
                  <td class="govuk-table__cell">GCSE English</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">35</th>
                  <td class="govuk-table__cell">Stepping-stone English</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">36</th>
                  <td class="govuk-table__cell">Stepping-stone Maths</td>
                  <td class="govuk-table__cell">0</td>
                  <td class="govuk-table__cell">3 July 2019</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                
              </tbody>
            </table>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
