
{% extends "layout-pathway.html" %}

{% block pageTitle %}
  Framework related learning aims
{% endblock %}

{% block content %}




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            
            <h1 class="govuk-heading-xl">Improving Operational Performance</h1>

        
              </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "./left-nav-funding.html" %}
        </div>
         <div class="govuk-grid-column-two-thirds"> 
              
              <h2 class="govuk-heading-l">Related learning aims</h2>
              

                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50061471
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EAL
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 June 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2 - Knowledge Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>
      
                
              
                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50062141
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            ABC
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01 August 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2 - Knowledge Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>

      
     
               
                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50065907
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EAL
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 June 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            1 - Competency Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>



                <a id="showMoreResults" href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Show more results
                </a>
      
               <div id="hiddenRelatedItems"> 
                

                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50061471
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EAL
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 June 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2 - Knowledge Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>
      
                
              
                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50062141
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            ABC
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01 August 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2 - Knowledge Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>

      
     
               
                <div>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-19 no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  
                    <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            50065907
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding body
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EAL
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            2
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 June 2011
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            06 March 2013
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Component type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            1 - Competency Element within an Apprenticeship
                        </dd>
                      </div>
                    </dl>
                </div>


                </div>
        </div>
  
        
      </div>
    
{% endblock %}
