
{% extends "layout-cc.html" %}

{% block pageTitle %}
  Framework common components
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        
        <h1 class="govuk-heading-xl">Improving Operational Performance
            
          </h1>

          
          </div>
  </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "./left-nav-funding.html" %}
        </div>
        <div class="govuk-grid-column-two-thirds">
          
          
          
          <table class="govuk-table">
              <caption class="govuk-table__caption govuk-heading-l">Common components</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Code</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Level</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">1</th>
                  <td class="govuk-table__cell">Key skills in communication</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">2</th>
                  <td class="govuk-table__cell">Key Skills in Application of Number</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">3</th>
                  <td class="govuk-table__cell">Key Skills in Information and Communication Technology</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">10</th>
                  <td class="govuk-table__cell">Functional Skills Mathematics</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">11</th>
                  <td class="govuk-table__cell">Functional Skills English</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">12</th>
                  <td class="govuk-table__cell">Functional Skills Information and Communication Technology</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                
                
              </tbody>
            </table>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
