
{% extends "layout-pathway.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
      
    <h1 class="govuk-heading-xl">Improving Operational Performance</h1>

          
  </div>
</div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include "./left-nav-funding.html" %}
        </div>
         <div class="govuk-grid-column-two-thirds"> 
              <h2 class="govuk-heading-l ">Framework details</h2>
              
              <!-- <table id="high-level-info" class="govuk-table ">
                  <tbody class="govuk-table__body">
                    
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table> -->


                <dl id="qualificationDetails" class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Framework code
                      </dt>
                      <dd class="govuk-summary-list__value">
                          504
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Framework type
                      </dt>
                      <dd class="govuk-summary-list__value">
                          3 - Intermediate apprenticeship
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Pathway
                      </dt>
                      <dd class="govuk-summary-list__value">
                          0 -
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Issuing authority
                      </dt>
                      <dd class="govuk-summary-list__value">
                          126 - Semta
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Effective from
                      </dt>
                      <dd class="govuk-summary-list__value">
                          23 June 2011
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Effective to
                      </dt>
                      <dd class="govuk-summary-list__value">
                          06 March 2013
                      </dd>
                    </div>
                    
                  </dl>

              

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
