
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Sorry, there’s a problem with the service</h1>

		<p>Try again later.</p> 

		<!-- <p>You will need to <a href="choose_file_to_upload.html">upload your data again</a>.</p> -->
		<p>If you continue to have problems, contact the ESFA Service Desk for help and support.</p>


    </div>
	  <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Help and support
            </h2>
          <h3 class="govuk-heading-s">ESFA support desk</h3>
          <p>Telephone: 0370 267 0001<br/>
          Monday to Thursday, 9am to 5pm<br/>
          Friday, 9am to 4pm<br/>
          <!-- <p>Email:  <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p> -->
          <p>Log queries on the <a target="blank" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">enquiry form</a></p>
          
          <h2 class="govuk-heading-m" id="subsection-title">
          Tools and services
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
          <li>
           <a href="#" >
             FIS (Funding Information Service)
           </a>
          </li>
          <!-- <li>
           <a href="https://hub.fasst.org.uk/Learning%20Aims/Pages/default.aspx" target="_blank">
             LARS (Learning Aims Reference Service)
           </a>
          </li> -->
          <li>
           <a href="#" >
             ILR Learner entry tool
           </a>
          </li>
          <li>
           <a href="#">
             ILR FileMerge
           </a>
          </li>
          </ul>
          </nav>
          
          </aside>
      </div>
</div>
    
{% endblock %}
