
{% extends "layout-aims.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Related learning aims
              </h1>

              
              <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="qualification-3.html">Award in Industrial Environment Awareness</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50061471  
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL  
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 23 June 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>
              
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="qualification-3.html">Certificate in Fabrication and Welding Practice (QCF)</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50062141 
                    </li>
                  <li>
                    <strong>Awarding body: ABC 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 01 August 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>
               
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="qualification-3.html">NVQ Diploma in Business Improvement Techniques	</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50065907
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                    <strong>Effective from:</strong> 23 June 2011 to: 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 1 - Competency Element within an Apprenticeship
                  </li>
                </ul>
      
                <hr>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
