
{% extends "layout-cc.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Automation and Controls Engineering Technician</h1>
        <table id="high-level-info" class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Code</th>
              <td class="govuk-table__cell">474</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Sector</th>
              <td class="govuk-table__cell">71 - Engineering and Manufacturing</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Effective from</th>
              <td class="govuk-table__cell">03/07/2019</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Effective to</th>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Last date for new starts</th>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Level</th>
              <td class="govuk-table__cell">4</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Sector subject area</th>
              <td class="govuk-table__cell">4.00 - Engineering and Manufacturing Technologies</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Sector subject area Tier 2</th>
              <td class="govuk-table__cell">4.10 - Engineering</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Integrated degree standard</th>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Other body approval required</th>
              <td class="govuk-table__cell">N</td>
            </tr>
          </tbody>
        </table>
    </div> 
  </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% include "./left-nav-standards.html" %}
        </div>
        <div class="govuk-grid-column-two-thirds">
          
          
          
          <table class="govuk-table">
              <caption class="govuk-table__caption govuk-heading-l">Common components</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Code</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Level</th>
                  <th scope="col" class="govuk-table__header">Effective from</th>
                  <th scope="col" class="govuk-table__header">Effective to</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">1</th>
                  <td class="govuk-table__cell">Key skills in communication</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">2</th>
                  <td class="govuk-table__cell">Key Skills in Application of Number</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">3</th>
                  <td class="govuk-table__cell">Key Skills in Information and Communication Technology</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">10</th>
                  <td class="govuk-table__cell">Functional Skills Mathematics</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">11</th>
                  <td class="govuk-table__cell">Functional Skills English</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">12</th>
                  <td class="govuk-table__cell">Functional Skills Information and Communication Technology</td>
                  <td class="govuk-table__cell">2</td>
                  <td class="govuk-table__cell">1 August 2013</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                
                
              </tbody>
            </table>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
