
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            
            Terms and conditions
            
          </h1>
          
          <p>Welcome to the Education and Skills Funding Agency (ESFA) Find a Learning Aim service. By using this service, you agree to these terms and conditions.</p>
  
          <h2 class="govuk-heading-m">Our responsibilities</h2>

          <p>This service is run by the Education and Skills Funding Agency (ESFA).</p>

          <p>  We do our best to make sure this service is constantly available, virus free and that the information we provide is accurate and complete.</p>

          <p class="govuk-body">However, the ESFA accepts no liability for:</p>
  
          <ul class="govuk-list govuk-list--bullet">
            <li>you being unable to access the service (e.g. because of excessive demand or because we've taken the service down for maintenance)</li>
            <li>indirect damages arising from you using the service or relying on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
          </ul>
  
          
          <h2 class="govuk-heading-m">Your responsibilities</h2>
          
          <p class="govuk-body">As a user of the service you must:</p>
  
          <ul class="govuk-list govuk-list--bullet">
            <li>agree to use this service only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</li>
            <li>not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.</li>
            <li>not try to gain unauthorised access to this service, the server on which it’s stored or any server, computer or database connected to it.</li>
            <li>not attack this service in any way. This includes denial-of-service attacks.</li>
          </ul>
          
        </div>
  
        
      </div>
    
{% endblock %}
