{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "16 to 19 EFA"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>
        <p><strong>Last date for new start:</strong> 31 August 2020</p>
        '
      }
    },
        {
      heading: {
        text: "Adult Skills"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
         
        '
      },
      content: {
        html:
        '
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Adult Learner Responsive
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table two-thirds-width">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective from</th>
                  <td class="govuk-table__cell">31 July 2013</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective to</th>
                  <td class="govuk-table__cell">31 July 2013</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Programme Weighting</th>
                  <td class="govuk-table__cell">A</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Weighted rate</th>
                  <td class="govuk-table__cell">872</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unweighted rate</th>
                  <td class="govuk-table__cell">872</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Employer Responsive
            </span>
          </summary>
          <div class="govuk-details__text">
          
              <table class="govuk-table two-thirds-width">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective from</th>
                      <td class="govuk-table__cell">31 July 2013</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective to</th>
                      <td class="govuk-table__cell">31 July 2013</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Programme Weighting</th>
                      <td class="govuk-table__cell">A</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Weighted rate</th>
                      <td class="govuk-table__cell">1122</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Unweighted rate</th>
                      <td class="govuk-table__cell">1122</td>
                    </tr>
                  </tbody>
                </table>

      </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Matrix
            </span>
          </summary>
          <div class="govuk-details__text">
            
              <table class="govuk-table two-thirds-width">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective from</th>
                      <td class="govuk-table__cell">01 August 2013</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective to</th>
                      <td class="govuk-table__cell">31 July 2023</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Programme Weighting</th>
                      <td class="govuk-table__cell">A</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Weighted rate</th>
                      <td class="govuk-table__cell">724</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Unweighted rate</th>
                      <td class="govuk-table__cell">724</td>
                    </tr>
                  </tbody>
                </table>

      </div>
        </details>
        '
      }
    },
            {
      heading: {
        text: "Advanced Learner Loan"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020
            
      
             
        </span>
        
        '
      },
      content: {
        html:
        '
        <h2 class="govuk-heading-m">
            Matrix
          </h2>
        <div class="govuk-body fc-body-list">
           
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
             <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
            <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
          <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div>
        '
      }
    },
                {
      heading: {
        text: "Other"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020
            
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong>  01 September 2015 <strong>to</strong> 31 August 2021</p>'
      }
    },
                {
      heading: {
        text: "Community Learning"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2018
            
             
             
        </span>
        
        '
      },
      content: {
        html:
        '<p> <strong>Course validity:</strong> 01 September 2015 <strong>to</strong> 31 August 2021</p>'
      }
    },
                {
      heading: {
        text: "European Social Fund"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020
            
            
        </span>
        
        '
      },
      content: {
        html:
        '
        <h2 class="govuk-heading-m">
            Matrix
          </h2>
        <div class="govuk-body fc-body-list">
            
            <div class="flex-mob space-between fc-body-list-item">
              <strong> Effective from:</strong>
              01 September 2015
            </div>
        

            <div class="flex-mob space-between fc-body-list-item">
              <strong>Effective to:</strong>
              31 July 2023
            </div>


            <div class="flex-mob space-between fc-body-list-item">
             <strong> Programme weighting:</strong>
        
            B
            </div>

            <div class="flex-mob space-between fc-body-list-item">
            <strong>  Weighted rate:</strong>
        
            £2225
          </div>
            

            <div class="flex-mob space-between fc-body-list-item">
          <strong>  Unweighted rate:</strong>
        
            £1987
          </div>
        </div>
        
        '
      }
    },
                {
      heading: {
        text: "OLASS"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020
            
             
             
        </span>
        
        '
      },
      content: {
        html:
        '
        <h3 class="govuk-heading-m">
          Matrix
        </h3>
        <table class="govuk-table two-thirds-width">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective from</th>
                <td class="govuk-table__cell">01 August 2013</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective to</th>
                <td class="govuk-table__cell">31 July 2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme Weighting</th>
                <td class="govuk-table__cell">A</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Weighted rate</th>
                <td class="govuk-table__cell">724</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Unweighted rate</th>
                <td class="govuk-table__cell">724</td>
              </tr>
            </tbody>
          </table>


      <h3 class="govuk-heading-m">
          Offenders Learning and Skills Service (Adult)
        </h3>
        <table class="govuk-table two-thirds-width">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective from</th>
                <td class="govuk-table__cell">01 August 2013</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective to</th>
                <td class="govuk-table__cell">31 July 2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme Weighting</th>
                <td class="govuk-table__cell">A</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Weighted rate</th>
                <td class="govuk-table__cell">724</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Unweighted rate</th>
                <td class="govuk-table__cell">724</td>
              </tr>
            </tbody>
          </table>
        
        '
      }
    }
                
  ]
}) }}

