
{% extends "layout.html" %}

{% block pageTitle %}
Learner aims reference service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <br>
    <br>
    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <table class="govuk-table">
 <caption class="govuk-table__caption visually-hidden">List of versions</caption>
 <thead class="govuk-table__head">
   <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
      <th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
   </tr>
 </thead>
 <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cucumber 2.0.5<p>08/02/2021</p></th>
        <td class="govuk-table__cell ">
          <p>Beta - in progress 08/02/2021</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Removed <a href="2-0-5/all-results-func.html"> academic years </a> from the filters and place in a new location</li>
            <li><a href="2-0-5/privacy">Privacy policy</a> added</li>
            <li><a href="2-0-5/termsandconditions">Terms and conditions</a> added</li>
            <li><a href="2-0-5/all-results-pagination-b1">Pagination design</a> updated</li>
            <li>testing</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="2-0-5/start-search.html">Start now</a></td>
      </tr>
    
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Tomato 2.0.4<p>07/10/2020</p></th>
        <td class="govuk-table__cell ">
          <p>Beta - in progress 13/10/2020</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Horizontal scroll on <a href="2-0-4/all-results-func.html">Qualification results</a> was caused by magnifine glass. Updated the HTML markup and and CSS. This has been applied to all types of learning (see story 104723)</li>
            <li> <a href="2-0-4/all-results-func?input-autocomplete=&learning=qualification&year=2020">New title</a> added depending type of learning</li>
            <li>Updated design added for <a href="2-0-4/overview">qualification details</a></li>
            <li>Updated design added for <a href="2-0-4/framework-details.html">frameworks</a></li>
            <li>HTML markup changed on <a href="2-0-4/all-results-standards.html">Standards results</a> for accessibility</li>
            <li><a href="2-0-4/all-results-func.html">Search icon</a> updated for accessibility</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="2-0-4/start-search.html">Start now</a></td>
      </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Tomato 2.0.3<p>05/06/2020</p></th>
      <td class="govuk-table__cell ">
        <p>Alpha - in progress 05/06/2020</p>
        <ul class="govuk-list govuk-list--bullet">
          <!-- <li> <a href="2-0-3/all-results-func.html">New CSV file</a> added with more results</li>
          <li> <a href="2-0-3/problem-with-the-service.html">Service down page</a> design</li>
          <li> <a href="2-0-3/all-results-ldns-varies.html">Last date for new starts</a> alternate design </li>
          <li> <a href="2-0-3/start-search.html">Home page content</a> updated </li>
          <li> <a href="2-0-3/all-results-frameworks.html">Issuing authority</a> type search added <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=97645">97645</a></li>
          <li> <a href="2-0-3/funding.html">Guided learning hours</a> alternate content and matrix title added back in <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=102382">102382</a></li>
          <li> <a href="2-0-3/all-results-func.html">Sorting results</a> dropdown added <strong>UR ONLY</strong> </li>
          <li> <a href="2-0-3/all-results-func.html">Filter feedback</a> hover state added when a filter is applied</li>
          <li> <a href="2-0-3/category-table-codes.html">Category table codes</a> <strong>UR ONLY</strong></li>
          <li> <a href="2-0-3/all-results-pagination-a1.html">Pagination UI V1</a> added to bottom of results and total results <strong>UR ONLY</strong></li>
          <li> <a href="2-0-3/all-results-pagination-b1.html">Pagination UI V2</a> added to bottom of results <strong>UR ONLY</strong></li>
          <li> <a href="2-0-3/start-search-no-js.html"> Non js start page</a> interaction </li>
          <li> <a href="2-0-3/app-funding.html"> Framework funding</a> effective from and to separated <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=100666">100666</a></li>
          <li> <a href="2-0-3/funding.html"> Qualifications</a> effective from and to separated <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=100666">100666</a></li>
          <li> <a href="2-0-3/start-search.html"> Home page</a> now reflecting additional parts of the service <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_workitems/edit/100960?src=WorkItemMention&src-action=artifact_link">100960</a></li>
          <li> <a href="2-0-3/funding"> Qualification detail</a> design iteration includes mobile design <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=100995">100657 > 100995</a></li>
          <li> <a href="2-0-3/pathways"> Funding band information</a> design iteration includes mobile design <a target="blank" href="https://sfa-gov-uk.visualstudio.com/DCT/_boards/board/t/UCD%20Team/Stories/?workitem=100658">100657 > 100658</a></li>
          <li> <a href="2-0-3/standards"> Standards detail page</a> updated with new accordion labels</li>
          <li> <a href="2-0-3/start-search.html"> Academic year</a> is now dependant on type of learning</li> -->
          <li> <a href="2-0-3/all-results-ldns-varies.html">Search result</a> code refactored for accessibility. Story 104725 </li>
          <li> <a href="2-0-3/all-results-func?input-autocomplete=&learning=qualification&year=2020">Search result</a> examples of aria tags added. Story 104690 </li>
        </ul>
      </td>
      <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
      <td class="govuk-table__cell "><a href="2-0-3/start-search.html">Start now</a></td>
    </tr>
    
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Carrot 2.0.2<p>27/04/2020</p></th>
      <td class="govuk-table__cell ">
        <p>Alpha - in progress 27/04/2020</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>All of the features in 2-0-1 are included in this version with additional features below</li>
          <li> Design with dropdown for frameworks and qualifications on the <a href="2-0-2/start-search">start page</a></li>
          <li> New dropdown added for frameworks and qualifications on the <a href="2-0-2/all-results-func">results page</a> </li>
          <li> New message for no results on the <a href="2-0-2/all-results-func">results page</a> <strong>NEW</strong> </li>
          <li> Breadcrumbs on most pages <strong>NEW</strong> </li>
          <li> <a href="2-0-2/all-results-standards">standards results</a> added <strong>NEW</strong> </li>
          <li> <a href="2-0-2/standards">standards details</a> added <strong>NEW</strong> </li>
          <li> <a href="2-0-2/common-components.html">standards common componenets</a> added <strong>NEW</strong> </li>
          <li> Design for <a href="2-0-2/all-results-func">units</a> added <strong>NEW</strong></li>
          <li> <a href="2-0-2/start-search">Open all filters</a> added on qualification results pages <strong>NEW</strong></li>
          <li> <a href="2-0-2/all-results-func.html">sticky filters</a> added <strong></strong></li>
          <li> Funding streams in <a href="2-0-2/all-results-ldns.html">results design variant</a> added <strong>UR ONLY</strong></li>
          <li> Homepage with no year <a href="2-0-2/start-search-no-year.html">design</a> added <strong>UR ONLY</strong></li>
          <li> Homepage with year <a href="2-0-2/start-search.html">design</a> added <strong>UR ONLY</strong></li>
          <li> Pagination version 1 of <a href="2-0-2/all-results-pagination-a1.html">pagination design</a> added <strong>UR ONLY</strong></li>
          <li> Pagination version 2 of <a href="2-0-2/all-results-pagination-b1.html">pagination design</a> added <strong>UR ONLY</strong></li>
        </ul>
      </td>
      <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
      <td class="govuk-table__cell "><a href="2-0-2/start-search.html">Start now</a></td>
    </tr>
    
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Carrot 2.0.1<p>03/03/2020</p></th>
      <td class="govuk-table__cell ">
        <p>Alpha - in progress 03/03/2020</p>
        <ul class="govuk-list govuk-list--bullet">

          <li> Design with new content and data points for <a href="2-0-1/qualification-3">qualification page</a> Adults skills and OLASS for A/B testing </li>
          <li> Update on some filters that weren't working on the  <a href="2-0-1/all-results-func">results page</a> </li>
          <li> Added more quantity to auto complete list <a href="2-0-1/start-search">search box</a> </li>
          <li> Design added for <a href="2-0-1/qualification-app">apprenticeships</a> </li>
          <li> Search function improved by pressing enter twice </li>
          <li> Filters working when adding dates for <a href="2-0-1/all-results-func">last date for new starters</a> </li>
          <li> Download working with basic example of a <a href="2-0-1/all-results-func">CSV file</a> </li>
          <li> Removed EFA funding conditions for English and Maths in the <a href="2-0-1/all-results-func">filters and results</a> </li>
          <li> Added a <a href="2-0-1/all-results-func-content"> results page</a> with no dashes for realistic content </li>
          <li> Added a <a href="2-0-1/qualification-4.html"> qualification page</a> with last date for new starts only in one location </li>

        </ul>
      </td>
      <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
      <td class="govuk-table__cell "><a href="2-0-1/start-search.html">Start now</a></td>
    </tr>

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Carrot 2.0.0<p>17/01/2020</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 16/01/2020</p>
          <ul class="govuk-list govuk-list--bullet">
            
            <li> New design and content for the <a href="2-0-0/start-search">home page</a> </li>
            <li> Reordered some of the data points on the <a href="2-0-0/qualification-3.html">qualifications page</a> </li>
            <li> Download working with basic example of a <a href="2-0-0/all-results-func">CSV file</a> </li>

          </ul>
        </td>
        <!-- <td class="govuk-table__cell "><a href="#">Contents</a></td> -->
        <td class="govuk-table__cell "><a href="2-0-0/start-search.html">Start now</a></td>
      </tr>

      <!-- ******************************************************************** -->

      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Carrot 1.0.5<p>08/01/2020</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 08/01/2020</p>
          <ul class="govuk-list govuk-list--bullet">
            
            <li> Updated for internet explorer 11 on  <a href="1-0-5/all-results-func">results page</a> </li>
            <li> Updated alphabetical awarding body on <a href="1-0-5/all-results-func">results page</a> and <a href="1-0-5/start-search">start page</a></li>
          </ul>
        </td>
        
        <td class="govuk-table__cell "><a href="1-0-5/start-search.html">Start now</a></td>
      </tr> -->
      <!-- ******************************************************************** -->
      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Carrot 1.0.4<p>02/01/2020</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 02/01/2020</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> Filters updated when selected on the <a href="1-0-4/start-search">start page</a> for awarding body and level</li>
            <li> Loading spinner added with 1 second delay <a href="1-0-4/all-results-maths">results page</a> </li>
            <li> Search flter added on awarding body <a href="1-0-4/all-results-maths">results page</a> </li>
            <li> EFA funding English and Maths added on the <a href="1-0-4/start-search">start page</a> </li>
            <li> Added before and after for <a href="1-0-4/all-results-maths">last date for new starters</a> </li>
          </ul>
        </td>
        
        <td class="govuk-table__cell "><a href="1-0-4/start-search.html">Start now</a></td>
      </tr> -->
      <!-- ******************************************************************** -->
      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Tomato 1.0.3<p>09/12/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 09/12/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> Filters updated on <a href="1-0-3/all-results">results page</a> with filter feedback when a filter is selected </li>
            <li> Remove 1/2 from filters on the <a href="1-0-3/start-search">start page</a> </li>
            <li> EFA funding English and Maths added on the <a href="1-0-3/start-search">start page</a> </li>
          </ul>
        </td>
        
        <td class="govuk-table__cell "><a href="1-0-3/start-search.html">Start now</a></td>
      </tr> -->
      <!-- ******************************************************************** -->
      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Tomato 1.0.2<p>03/12/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 03/12/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> <a href="1-0-2/start-search"> Start page</a> with search added (default)</li>
            <li> <a href="1-0-2/start"> Start page</a> on its own</li>
            <li> Filters updated on <a href="1-0-2/all-results-engineering">results page</a>  with a update results button </li>
            <li> Added guided learning hours on <a href="1-0-2/all-results-engineering">results pages</a> </li>
          </ul>
        </td>
       
        <td class="govuk-table__cell "><a href="1-0-2/start-search.html">Start now</a></td>
      </tr> -->
      <!-- ******************************************************************** -->
      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Lettuce 1.0.1<p>26/11/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 26/11/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> <a href="1-0-1/start"> Start page</a> content updated </li>
            <li> Filters added on <a href="1-0-1/search">search</a> and <a href="1-0-1/all-results-func">results</a> pages </li>
            <li> Restructured information on <a href="1-0-1/qualification-func">qualification pages</a> </li>
          </ul>
        </td>
        
        <td class="govuk-table__cell "><a href="1-0-1/start.html">Start now</a></td>
      </tr> -->
      <!-- ******************************************************************** -->
      <!-- <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Lettuce 1.0.0<p>06/11/2019</p></th>
        <td class="govuk-table__cell ">
          <p>Alpha - in progress 06/11/2019</p>
          <ul class="govuk-list govuk-list--bullet">
            <li> First version of LARS </li>
          </ul>
        </td>
       
        <td class="govuk-table__cell "><a href="1-0-0/start.html">Start now</a></td>
      </tr> -->

 </tbody>
</table>
  </div>
</div>

{% endblock %}
