{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "16 to 19 EFA"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        
        '
      },
      content: {
        html:
        '
        <table id="high-level-info" class="govuk-table ">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">From</th>
                <td class="govuk-table__cell">01 September 2015</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">To</th>
                <td class="govuk-table__cell">31 August 2021</td>
              </tr>
              
            </tbody>
          </table>
        '
      }
    },
        {
      heading: {
        text: "Adult Skills"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        
        '
      },
      content: {
        html:
        '
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Adult Learner Responsive
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table two-thirds-width">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Effective from</th>
                    <td class="govuk-table__cell">31 July 2013</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Effective to</th>
                    <td class="govuk-table__cell">31 July 2013</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Programme Weighting</th>
                    <td class="govuk-table__cell">A</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Weighted rate</th>
                    <td class="govuk-table__cell">872</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Unweighted rate</th>
                    <td class="govuk-table__cell">872</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Employer Responsive
              </span>
            </summary>
            <div class="govuk-details__text">
            
                <table class="govuk-table two-thirds-width">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Effective from</th>
                        <td class="govuk-table__cell">31 July 2013</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Effective to</th>
                        <td class="govuk-table__cell">31 July 2013</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Programme Weighting</th>
                        <td class="govuk-table__cell">A</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Weighted rate</th>
                        <td class="govuk-table__cell">1122</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Unweighted rate</th>
                        <td class="govuk-table__cell">1122</td>
                      </tr>
                    </tbody>
                  </table>
  
        </div>
          </details>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Matrix
              </span>
            </summary>
            <div class="govuk-details__text">
              
                <table class="govuk-table two-thirds-width">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Effective from</th>
                        <td class="govuk-table__cell">01 August 2013</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Effective to</th>
                        <td class="govuk-table__cell">31 July 2023</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Programme Weighting</th>
                        <td class="govuk-table__cell">A</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Weighted rate</th>
                        <td class="govuk-table__cell">724</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Unweighted rate</th>
                        <td class="govuk-table__cell">724</td>
                      </tr>
                    </tbody>
                  </table>
  
        </div>
          </details>
            
        '
      }
    },
            {
      heading: {
        text: "Advanced Learner Loan"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        
        '
      },
      content: {
        html:
        '
          <table class="govuk-table two-thirds-width">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Category</th>
                <td class="govuk-table__cell">Matrix</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective from</th>
                <td class="govuk-table__cell">01 September 2015</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective to</th>
                <td class="govuk-table__cell">31 July 2023</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme Weighting</th>
                <td class="govuk-table__cell">B</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Weighted rate</th>
                <td class="govuk-table__cell">£2225</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Unweighted rate</th>
                <td class="govuk-table__cell">£1987</td>
              </tr>
            </tbody>
          </table>'
      }
    },
                {
      heading: {
        text: "Other"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        
        '
      },
      content: {
        html:
        '
        <table id="high-level-info" class="govuk-table ">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">From</th>
              <td class="govuk-table__cell">01 September 2015</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">To</th>
              <td class="govuk-table__cell">31 August 2021</td>
            </tr>            
          </tbody>
        </table>
        
        '
      }
    },
                {
      heading: {
        text: "Apprenticeships"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 August 2020</span>
        
        '
      },
      content: {
        html:
        '
        <table class="govuk-table two-thirds-width">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Category</th>
                <td class="govuk-table__cell">Matrix</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">From</th>
                <td class="govuk-table__cell">23 June 2011</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">To</th>
                <td class="govuk-table__cell">31 December 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Category</th>
                <td class="govuk-table__cell">Apprenticeship (Activity Costs)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective from</th>
                <td class="govuk-table__cell">01 August 2013</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Effective to</th>
                <td class="govuk-table__cell">31 December 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Programme Weighting</th>
                <td class="govuk-table__cell">C</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Weighted rate</th>
                <td class="govuk-table__cell">£2267</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Unweighted rate</th>
                <td class="govuk-table__cell">£1744</td>
              </tr>
            </tbody>
          </table>
        '
      }
    },
                {
      heading: {
        text: "Community Learning"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 December 2020</span>
        
        '
      },
      content: {
        html:
        '
        
        <table id="high-level-info" class="govuk-table ">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">From</th>
                <td class="govuk-table__cell">01 September 2015</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">To</th>
                <td class="govuk-table__cell">31 August 2021</td>
              </tr>            
            </tbody>
          </table>

        '
      }
    },
                {
      heading: {
        text: "European Social Fund"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020</span>
        
        '
      },
      content: {
        html:
        '
            <table class="govuk-table two-thirds-width">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Category</th>
                  <td class="govuk-table__cell">Matrix</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">From</th>
                  <td class="govuk-table__cell">01 September 2015</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">To</th>
                  <td class="govuk-table__cell">31 August 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Category</th>
                  <td class="govuk-table__cell">European social fund</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective from</th>
                  <td class="govuk-table__cell">01 August 2013</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective to</th>
                  <td class="govuk-table__cell">31 December 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Programme Weighting</th>
                  <td class="govuk-table__cell">C</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Weighted rate</th>
                  <td class="govuk-table__cell">£2267</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unweighted rate</th>
                  <td class="govuk-table__cell">£1744</td>
                </tr>
              </tbody>
            </table>
        '
      }
    },
                {
      heading: {
        text: "OLASS"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2020</span>
        
        '
      },
      content: {
        html:
        '
          <table class="govuk-table two-thirds-width">
              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Category</th>
                      <td class="govuk-table__cell">Matrix</td>
                    </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">From</th>
                  <td class="govuk-table__cell">01 September 2015</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">To</th>
                  <td class="govuk-table__cell">31 August 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Category</th>
                  <td class="govuk-table__cell">OLASS</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective from</th>
                  <td class="govuk-table__cell">01 August 2013</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective to</th>
                  <td class="govuk-table__cell">31 December 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Programme Weighting</th>
                  <td class="govuk-table__cell">C</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Weighted rate</th>
                  <td class="govuk-table__cell">£2267</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unweighted rate</th>
                  <td class="govuk-table__cell">£1744</td>
                </tr>
              </tbody>
            </table>
        '
      }
    },
                {
      heading: {
        text: "Unemployed offer"
      },
      summary: {
        html: '
        <span> <strong>Last date for new start:</strong> 31 July 2017
            
             <br>  <span> Approved qualification for 2019 to 2020</span>
             
        </span>
        
        '
      },
      content: {
        html:
        '
          <table class="govuk-table two-thirds-width">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">From</th>
                  <td class="govuk-table__cell">01 September 2015</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">To</th>
                  <td class="govuk-table__cell">31 August 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Category</th>
                  <td class="govuk-table__cell">Unemployed offer</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective from</th>
                  <td class="govuk-table__cell">01 August 2013</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective to</th>
                  <td class="govuk-table__cell">31 December 2021</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Programme Weighting</th>
                  <td class="govuk-table__cell">C</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Weighted rate</th>
                  <td class="govuk-table__cell">£2267</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Unweighted rate</th>
                  <td class="govuk-table__cell">£1744</td>
                </tr>
              </tbody>
            </table>
        '
      }
    }
  ]
}) }}

