
{% extends "layout-cc.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        
        <h1 class="govuk-heading-xl">Framework detail view
            
          </h1>

          <table id="high-level-info" class="govuk-table ">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Framework</th>
                  <td class="govuk-table__cell">504 - Improving Operational Performance</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Framework type</th>
                  <td class="govuk-table__cell">3 - Intermediate apprenticeship</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Pathway</th>
                  <td class="govuk-table__cell">0 -</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Issuing authority</th>
                  <td class="govuk-table__cell">126 - Semta</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective from</th>
                  <td class="govuk-table__cell">23 June 2011</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Effective to</th>
                  <td class="govuk-table__cell">06 March 2013</td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% include "./left-nav-funding.html" %}
        </div>
        <div class="govuk-grid-column-two-thirds">
          
          
            <h2 class="govuk-heading-l ">Apprenticeship funding</h2>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Band number: 1
                      </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        Effective from: 8 May 2017
                      </div>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <table id="high-level-info" class="govuk-table">
                          <tbody class="govuk-table__body">
                            <!-- <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Effective from</th>
                              <td class="govuk-table__cell">08/05/2018</td>
                            </tr> -->
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Effective to</th>
                              <td class="govuk-table__cell">31/07/2018</td>
                            </tr>
                            <!-- <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Band number</th>
                              <td class="govuk-table__cell">9</td>
                            </tr> -->
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">16 to 18 provider additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​16 to 18 employer additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​16 to 18 framework uplift</th>
                              <td class="govuk-table__cell">£0</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​Care leaver additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Duration</th>
                              <td class="govuk-table__cell">48 months</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Max employer levy cap</th>
                              <td class="govuk-table__cell">£14000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Standard fundable without employer</th>
                              <td class="govuk-table__cell">N</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Band number: 1
                      </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        Effective from: 8 May 2018
                      </div>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <table id="high-level-info" class="govuk-table">
                          <tbody class="govuk-table__body">
                            <!-- <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Effective from</th>
                              <td class="govuk-table__cell">01/08/2018</td>
                            </tr> -->
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Effective to</th>
                              <td class="govuk-table__cell">-</td>
                            </tr>
                            <!-- <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Band number</th>
                              <td class="govuk-table__cell">17</td>
                            </tr> -->
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">16 to 18 provider additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​16 to 18 employer additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​16 to 18 framework uplift</th>
                              <td class="govuk-table__cell">£0</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">​Care leaver additional payment</th>
                              <td class="govuk-table__cell">£1000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Duration</th>
                              <td class="govuk-table__cell">48 months</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Max employer levy cap</th>
                              <td class="govuk-table__cell">£14000</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Standard fundable without employer</th>
                              <td class="govuk-table__cell">N</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
                
              </div>

          
        </div>
  
        <div class="govuk-grid-column-one-third">
  
          
  
        </div>
      </div>
    
{% endblock %}
