<select size="5" multiple="multiple">
			
			<option value="41">Aims specific to Mayoral Combined Authorities (MCA) and Greater London Authority (GLA)</option>
			<option value="3">All Class Code Categories</option>
			<option value="23">Class Code Category A: Non Regulated Provision (SFA Formula Funded)</option>
			<option value="24">Class Code Category B: Non Regulated English, Maths, and ESOL Provision (SFA Formula Funded)</option>
			<option value="25">Class Code Category C: NQF Units of Adult Basic Skills Certificates (SFA Formula Funded)</option>
			<option value="26">Class Code Category D: Innovation Code</option>
			<option value="27">Class Code Category E: Non Regulated Provision (not Community Learning or SFA Formula Funded)</option>
			<option value="28">Class Code Category F: Non Regulated Provision (Community Learning)</option>
			<option value="29">Class Code Category G: Non Regulated English, Maths and ESOL Provision (not SFA Formula Funded)</option>
			<option value="30">Class Code Category H: Units of NQF Qualifications</option>
			<option value="31">Class Code Category I: Work Experience / Placement</option>
			<option value="32">Class Code Category J: Supported Internship</option>
			<option value="33">Class Code Category K: Programme Aim</option>
			<option value="34">Class Code Category L: ESF Co-financed</option>
			<option value="35">Class Code Category M: Conversion Codes between Higher National Qualifications</option>
			<option value="36">Class Code Category O: Education Assessments</option>
			<option value="43">Covid-19 skills offer</option>
			<option value="44">Covid-19 skills offer only</option>
			<option value="42">Digital Skills</option>
			<option value="9">Early Years Educators 15/16</option>
			<option value="10">Early Years Educators 15/16 - 2 Year Loan</option>
			<option value="11">Early Years Educators 15/16 - 3 Year Loan</option>
			<option value="39">Legal Entitlement-English and Maths</option>
			<option value="37">Legal Entitlement-Level 2</option>
			<option value="18">LEP-Solent LEP 14/15 Pilot</option>
			<option value="22">Licence To Practise - Security</option>
			<option value="13">Loans Length - 2 Year (not Tech Lvl 2017/EYE)</option>
			<option value="14">Loans Length - 3 Year (not Tech Lvl 2017/EYE)</option>
			<option value="12">Loans length (not Tech Levels 2017/EYE)</option>
			<option value="17">Local Enterprise Partnership Initiatives</option>
			<option value="40">Local Flexibility</option>
			<option value="38">Only for Legal Entitlement at Level 3</option>
			<option value="1">SFA Work Preparation</option>
			<option value="21">Standalone</option>
			<option value="20">Standalone and Licence To Practise</option>
			<option value="6">Tech Levels 2017</option>
			<option value="7">Tech Levels 2017 - 2 Year Loan</option>
			<option value="8">Tech Levels 2017 - 3 Year Loan</option>
			<option value="19">Trades Union Congress</option>
			<option value="5">Unassigned</option>
			<option value="15">Unassigned</option>
			<option value="16">Unassigned</option>
			<option value="4">Work Placement-SFA Funded</option>
			<option value="2">Work Preparation-SFA Traineeships</option>

		</select>