
{% extends "layout-pathway.html" %}

{% block pageTitle %}
  Framework related learning aims
{% endblock %}

{% block content %}




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            
            <h1 class="govuk-heading-xl">Framework detail view</h1>

              <table id="high-level-info" class="govuk-table ">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Framework</th>
                      <td class="govuk-table__cell">504 - Improving Operational Performance</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Framework type</th>
                      <td class="govuk-table__cell">3 - Intermediate apprenticeship</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Pathway</th>
                      <td class="govuk-table__cell">0 -</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Issuing authority</th>
                      <td class="govuk-table__cell">126 - Semta</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective from</th>
                      <td class="govuk-table__cell">23 June 2011</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Effective to</th>
                      <td class="govuk-table__cell">06 March 2013</td>
                    </tr>
                  </tbody>
                </table>
              </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% include "./left-nav-funding.html" %}
        </div>
         <div class="govuk-grid-column-two-thirds"> 
              
              <h2 class="govuk-heading-l">Related learning aims</h2>
              <ul class="govuk-list custom-spacing">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50061471  
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL  
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                      <strong>Effective from:</strong> 23 June 2011
                  </li>
                  <li>
                    <strong>Effective to:</strong> 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <br><br>
              
                <ul class="govuk-list custom-spacing">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">Certificate in Fabrication and Welding Practice (QCF)</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50062141 
                    </li>
                  <li>
                    <strong>Awarding body:</strong> ABC 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  <li>
                      <strong>Effective from:</strong> 01 August 2011
                  </li>
                  <li>
                    <strong>Effective to:</strong> 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                  </li>
                </ul>
      
                <br><br>
               
                <ul class="govuk-list custom-spacing">
                  <li>
                    <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">NVQ Diploma in Business Improvement Techniques	</a>
                  </li>
                  <li>
                    <strong>Reference:</strong> 50065907
                    </li>
                  <li>
                    <strong>Awarding body:</strong> EAL 
                    </li>
                  <li>
                    <strong>Level:</strong> 2
                  </li>
                  
                  <li>
                      <strong>Effective from:</strong> 23 June 2011
                  </li>
                  <li>
                    <strong>Effective to:</strong> 06 March 2013
                  </li>
                  <li>
                    <strong>Component type:</strong> 1 - Competency Element within an Apprenticeship
                  </li>
                </ul>

                <br>

                <a id="showMoreResults" href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Show more results
                </a>
      
               <div id="hiddenRelatedItems"> 
                <br><br>

                <ul class="govuk-list custom-spacing">
                    <li>
                      <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">Award in Industrial Environment Awareness</a>
                    </li>
                    <li>
                      <strong>Reference:</strong> 50061471  
                      </li>
                    <li>
                      <strong>Awarding body:</strong> EAL  
                      </li>
                    <li>
                      <strong>Level:</strong> 2
                    </li>
                    <li>
                        <strong>Effective from:</strong> 23 June 2011
                    </li>
                    <li>
                      <strong>Effective to:</strong> 06 March 2013
                    </li>
                    <li>
                      <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                    </li>
                  </ul>
        
                  <br><br>
                
                  <ul class="govuk-list custom-spacing">
                    <li>
                      <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">Certificate in Fabrication and Welding Practice (QCF)</a>
                    </li>
                    <li>
                      <strong>Reference:</strong> 50062141 
                      </li>
                    <li>
                      <strong>Awarding body:</strong> ABC 
                      </li>
                    <li>
                      <strong>Level:</strong> 2
                    </li>
                    <li>
                        <strong>Effective from:</strong> 01 August 2011
                    </li>
                    <li>
                      <strong>Effective to:</strong> 06 March 2013
                    </li>
                    <li>
                      <strong>Component type:</strong> 2 - Knowledge Element within an Apprenticeship
                    </li>
                  </ul>
        
                  <br><br>
                 
                  <ul class="govuk-list custom-spacing">
                    <li>
                      <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state no-underline" href="frameworks.html">NVQ Diploma in Business Improvement Techniques	</a>
                    </li>
                    <li>
                      <strong>Reference:</strong> 50065907
                      </li>
                    <li>
                      <strong>Awarding body:</strong> EAL 
                      </li>
                    <li>
                      <strong>Level:</strong> 2
                    </li>
                    <li>
                        <strong>Effective from:</strong> 23 June 2011
                    </li>
                    <li>
                      <strong>Effective to:</strong> 06 March 2013
                    </li>
                    <li>
                      <strong>Component type:</strong> 1 - Competency Element within an Apprenticeship
                    </li>
                  </ul>
                </div>
        </div>
  
        
      </div>
    
{% endblock %}
