<script type="text/javascript" src="/public/javascripts/functional-content.json"></script> 

<div class="no-results-message">
  <p class="govuk-!-font-weight-bold">There are no results that match your search.</p> 
  <p >Try changing the filters and searching again.</p>
</div>
 
<ul id="resultList" class="govuk-list">
</ul>

<script>
  (function() {
    var mydata = JSON.parse(data);
    var ul = document.getElementById('resultList');
    
    for(var i=0;i<mydata.length;i++) {
      const node =
            `<li data-number="${mydata[i].LearnAimRef}" data-title="${mydata[i].LearnAimRefTitle}" data-level="${mydata[i].NotionalNVQLevelDesc2}" data-category="${mydata[i].AwardOrgCode} ${mydata[i].NotionalNVQLevelDesc} 2019-2020 16-19 Adult-skills Advanced-learner-loans Other Apprenticeships Community-learning EFA-Funding-condition-english EFA-Funding-condition-maths European-social-fund OLASS Unemployed-offer">
                <h3 class="govuk-!-font-size-19 govuk-!-margin-0"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline" href="funding">${mydata[i].LearnAimRefTitle} </a></h3>
                  <div class="flex space-between">
                    <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                      <span><strong>Reference:</strong> <span class="reference-number"> ${mydata[i].LearnAimRef}</span></span>
                      <span><strong>Awarding body:</strong> ${mydata[i].AwardOrgCode}</span>
                    </div>
                    <div class="aims-list govuk-body govuk-!-font-size-16 govuk-!-margin-top-2 flex-col flex-1">
                      <span><strong>Level:</strong> ${mydata[i].NotionalNVQLevelDesc2}</span>
                      <span><strong>Guided learning hours:</strong> ${mydata[i].OfQualGlhMax} </span>
                    </div>
                  </div>
                  <span class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16 flex"><strong>Available funding streams for academic year <span class="academic-year-container">2019 to 2020</span> :</strong></span>
                  <div id="customList" class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0 flex space-between">
                    <div class="flex-col funding-stream-list">
                      <span>16 to 19</span>
                      <span>Adult Skills</span>
                      <span>Advanced Learner Loans</span>
                      
                    </div> 
                    <div class="flex-col funding-stream-list">
                      <span>Other</span>
                      <span>Apprenticeships</span>
                      <span>Community Learning</span>
                      
                    </div>
                    <div class="flex-col funding-stream-list">
                      <span>European Social Fund</span>
                      <span>OLASS</span>
                    </div>
                  </div>
                  <span class="govuk-body govuk-!-font-size-16">
                    <span class="govuk-body govuk-!-font-size-16">
                      <span>
                        <strong>Last date for new start:</strong> 
                        <span class="last-date-for-new"> 
                          <span class="day">${mydata[i].LastNewStartDay}</span>-<span class="month">${mydata[i].LastNewStartMonth}</span>-<span class="year">${mydata[i].LastNewStartYear}</span>
                        </span>
                      </span>
                    </span> 
                  </span>
              </li>`;
      ul.insertAdjacentHTML('beforeend', node);
    }
  })();
</script>

