<nav>
  <!-- <a href="#" id="navButton" class="govuk-button govuk-button--secondary">Show menu</a> -->
  <ul id="leftNav" class="govuk-list">
    <li>
      <a id="E" class="govuk-link govuk-link--no-visited-state" href="standards">Funding</a>
    </li>
    <li>
      <a id="F" class="govuk-link govuk-link--no-visited-state" href="st-common-components">Common components</a>
    </li>
    <li>
      <a id="G" class="govuk-link govuk-link--no-visited-state" href="st-related-aims.html">Related learning aims</a>
    </li>
  </ul>
</nav>