<nav>
  <!-- <a href="#" id="navButton" class="govuk-button govuk-button--secondary">Show menu</a> -->
  <ul id="leftNav" class="govuk-list">
      <li>
        <a id="1" class="govuk-link govuk-link--no-visited-state" href="funding">Funding</a>
      </li>
      <li>
        <a id="2" class="govuk-link govuk-link--no-visited-state" href="frameworks">Frameworks</a>
      </li>
      <li>
        <a id="3" class="govuk-link govuk-link--no-visited-state" href="category">Category</a>
      </li>
    </ul>
  </nav>