<nav>
  <!-- <a href="#" id="navButton" class="govuk-button govuk-button--secondary">Show menu</a> -->
  <ul id="leftNav" class="govuk-list">
      <li>
        <a id="A" class="govuk-link govuk-link--no-visited-state" href="pathways">Sector subject area</a>
      </li>
      <li>
        <a id="B" class="govuk-link govuk-link--no-visited-state" href="framework-common-components">Common components</a>
      </li>
      <li>
        <a id="C" class="govuk-link govuk-link--no-visited-state" href="app-funding">Apprenticeship funding</a>
      </li>
      <li>
        <a id="D" class="govuk-link govuk-link--no-visited-state" href="framework-related-aims.html">Related learning aims</a>
      </li>
    </ul>
  </nav>